<div class="modal fade" id="modalAddTask" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Редактирование задачи</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="updateTask.php" method="post">
                    <div class="mb-3">
                        <label for="task-name" class="col-form-label">Задача:</label>
                        <input type="text" class="task form-control" id="task-name" name="task">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Дедлайн:</label>
                        <input class="datetime form-control"
                               id="message-text"
                               type="datetime-local"
                               name="datetime"
                        >
                        <input class="id form-control visually-hidden"
                               id="message-text"
                               type="text"
                               name="id"
                        >
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Отредактировать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>